* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}

body {
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

/* --------------------- About Header ------------------- */
.about-header {
    text-align: center;
    background-color: #053617;
    color: white;
    padding: 30px 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.about-header h1 {
    font-size: 2.5rem;
    color: white;
}
.about-header p{
    letter-spacing: 5px;
    font-weight: bold;
}

/*---------------------- About Content Section -------------------- */
.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    max-width: 1200px;
    margin: auto;
    gap: 20px;
}

.about-text {
    flex: 1;
    padding-right: 20px;
}

.about-text h2 {
    margin-bottom: 10px;
    color: #053617;
}

.about-text p {
    margin-bottom: 15px;
    color: #555;
}

.about-image {
    flex: 1;
    text-align: center;
}

.about-image img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.8);
}

/*------------------- Stats Section ---------------------------*/
.about-stats {
    background-color: #053617;
    color: white;
    text-align: center;
    padding: 40px 20px;
    width: 90vw;
    margin: auto;
    border-radius: 15px;
}

.about-stats h2 {
    margin-bottom: 30px;
    font-size: 2rem;
    color: white;
}

.stats-grid {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.stat-item {
    text-align: center;
    flex: 1;
    min-width: 150px;
}

.stat-item h3 {
    font-size: 2rem;
    color: #2ECC71;
    margin-bottom: 10px;
}

.stat-item p {
    font-size: 1rem;
}
.stat-item i{
    font-size: 50px;
    padding-top: 10px;

    &:hover{
        color: #2ECC71;
    }
}

/* ------------------- our services ------------------ */
.about-services{
    /* background-color: red; */
    width: 90vw;
    margin: auto;
    text-align: center;
}
.about-services h2{
    font-size: 3rem;
    color: #053617;
}
.our-services{
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}
.service{
    border: 2px solid #2ECC71;
    width: 300px;
    min-height: 200px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: all 0.5s ease ;

    &:hover{
        background-color: #2ECC71;
    }
    &:hover h4,
    &:hover i{
    color: white;
    cursor: pointer;
}
}
.service i{
    font-size: 80px;
    color: #2ECC71;
}


